.header {
    grid-area: hat;
    background-color: #8db574;
    border-radius: 20px;
}

.logInControls {
    width: fit-content;
    background-color: #678456;
    border-radius: 15px;
    float: right;
}

.logInControls input {
    height: 2rem;
    color: white;
    background-color: #678456;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logInControls input:focus {
    outline: none;
}

.logInControls input::placeholder {
    color: #dddddd;
}

.logInControls span {
    font-size: 1rem;
    color: white;
    font-family: "Arial", sans-serif;
    padding: 1vh;
    margin: 1vh;
}

.logInControls button {
    grid-area: b;
    margin: 1vh;
    height: 4vh;
    border-radius: 1.5rem;
    border: none;
    background-color: #dddddd;
    transition-duration: .5s;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logInControls button:focus {
    outline: none;
}


.logInControls button:active {
    opacity: .5;
    transition-duration: 0s;

}

@media (max-width: 600px) {
    .email {
        display: none;
    }

    .login {
        display: none;
    }

    .logInControls {
        display: grid;
        width: 90%;
        height: 90%;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: "fs" "b";
        float: none;
        margin: 5%;
    }

    .fields {
        grid-area: fs;
        alignment: center;
    }

    .logInControls button {
        width: 80%;
        margin: 10%;

    }

    .emIn {
        width: 90%;
        margin: 1vh;

    }

    .pIn {
        width: 90%;
        margin: 1vh;
    }

}

@media (min-width: 601px) {
    .logInControls {
        height: 6vh;
        margin: 1vh;
        padding: 1vh;
        width: fit-content;
    }

    .fields {
        display: inline-block;
        margin: 0 10px;
    }

    .logInControls button {
        height: 4vh;
    }

    .emIn {
        width: 50%;
    }

    .pIn {
        width: 50%;

    }

}