.header {
    grid-area: hat;
    background-color: #8db574;
    border-radius: 10px;

}
.logo {
    height: 8vh;
    margin-top: 1vh;
    margin-left: 20px;
}

.news {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    float: right;
    margin-top: 4vh;
    margin-right: 4vh;
}