@media (max-width: 600px) {
    .header {
        grid-area: hat;
        background-color: #8db574;
        border-radius: 20px;
        display: grid;
        padding-top: 10px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr max-content;
        grid-template-areas:
            ". btn"
            ". ."
            ". .";
        height: available;
    }
}

@media (min-width: 600px) {
    .header {
        grid-area: hat;
        background-color: #8db574;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 1fr max-content;
        grid-template-areas:
            ". ."
            ". btn"
            ". .";
    }
}

.btn {
    grid-area: btn;
    max-width: max-content;
    height: border-box;
    margin-right: 10px;

}

.header a {
    width: max-content;
    height: 100%;
}

.header button {
    color: white;
    height: 80%;
    margin: 10% 0;
    padding: 2vh;
    font-family: "Arial", sans-serif;
    background-color: #59724a;
    border-radius: 10px;
    border-style: none;
    transition-duration: .2s;
}

.header button:hover {
    transform: translateX(-3px);
    transition-duration: .3s;
}

.header button:active {
    opacity: .7;
    transition-duration: .5s;
}

.header button:focus {
    outline: none;
}

.header button:disabled {
    display: none;
}