.app-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;

    grid-template-areas:
            "men hat"
            "men cont";
}