body{
    background-color: #fff;
    background-attachment: fixed;
    background-image: url('https://images.clipartlogo.com/files/istock/previews/8594/85945595-frog-seamless-pattern-green-toad-in-swamp-many-amphibious-anim.jpg');
}