@media(min-width: 0){
    .chatWrapper {
        z-index: 3;
        grid-area: dw;
        display: grid;
        grid-template-rows: 8vh 1fr 12vh;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "b"
        "mi";
        height: 80vh;
        background-color: #fff;
        border-radius: 10px;
        width: available;
    }
}
@media(min-width: 640px){
    .chatWrapper {
        width: available;
        grid-area: cw;
        display: grid;
        grid-template-rows: 8vh 1fr 12vh;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "b"
        "mi";
        height: 80vh;
        background-color: #fff;
        border-radius: 10px;

    }
}

.Header {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    grid-area: h;

    padding: 1vh;
}

.Body {
    grid-area: b;
    overflow-y: scroll;



}

.Input {
    width: available;
    border-radius: 10px;
    grid-area: mi;
    display: grid;
    padding: 1vh;
    grid-template-columns: 8fr 1fr;
    grid-template-areas: "if sb";
    background-color: #dddddd;
}

.Input textarea {
    grid-area: if;
    height: 10vh;
    resize: none;
    width: available;
    border-radius: 5px 0 0 5px;
    border: none;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Input button {
    border-radius: 0 5px 5px 0;
    border: none;
    height: 10vh;
    background-color: #dddddd;
    transition-duration: .5s;
    font-size: 20pt;
    grid-area: sb;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Input button:active {
    background-color: #b1b1b1;
    transition-duration: .0s;

}

.wrapper {
    display: grid;
    grid-template-columns: 6vh 1fr;
    grid-template-areas: "pp nm";

    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 1em;

    line-height: 6vh;
    vertical-align: middle;
    color: black;
}

.pPicture {
    grid-area: pp;
}

.pPicture img {
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    transition-duration: .2s;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}
.pPicture img:hover {
    transform: scale(1.2);
}
.Name {
    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: black;
    grid-area: nm;
    padding-left: 1vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.messageSpace {
    width: available;
    height: fit-content;
    overflow: auto;
    margin: 1vh 0;
}

.bubble {
    padding: 1rem;
    width: fit-content;
    max-width: 300px;
    font-family: "Arial", sans-serif;
    word-break: break-word;
}

.sent {
    float: right;
    margin-right: 1rem;
    background-color: #8db574;
    border-color: #8db574;
    border-width: 2px;
    color: white;
    border-radius: 20px 20px 0 20px;
    border-style: solid;
}

.received {
    float: left;
    margin-left: 1rem;

    border-color: #9ee178;
    border-width: 2px;
    background-color: #fff;
    border-radius: 0 20px 20px 20px;
    border-style: solid;
}