.menu {

    grid-area: men;
}

.menuWrapper {
    background-color: rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 5px 5px 1px 5px;
}


.item {
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    transition-duration: .3s;
    text-align: left;
    padding: 10px;
    margin: 5px 5px 10px 5px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.activeTab .item  {
    background-color: rgba(255,255,255,0.34);
}
.activeTab .item:hover  {
    background-color: rgba(255,255,255,0.2);
}

.itemText {

    font-family: "Arial";
    text-decoration: none;
    color: white;
}

.item:hover {
    background-color: rgba(255,255,255,0.05);
    transition-duration: .2s;
}